
.space{
    height: 100vh;
}
.hero{

    background-image: url(../img/contact/561881626.jpg);
}

.form{

width:50%;
height:55%;
background-color:white;
margin-left:10%;
margin-top: 10%;

}
.form1{

    padding-left:3%;
    padding-top:5%;

}




#name{
    padding: 10px;
    width: 30%;
    
    
}

#phone{
    padding: 10px;
    width: 30%;
    margin-left: 100x;
    margin-top: 30px;
}

  

#email{

    padding: 10px;
    width: 30%;
    
}

#message{
    margin-right:1000px;
    margin-top:170px;
    margin-left:130px;
    padding: 100px;
    width: 60%;
}


