
.space{
    height: 100vh;
}

.ss{
    height:20vh;
}
.si{
    height: 40vh;
    background-color: khaki;
}
.hero{

    background-image: url("cu.jpeg");
    
   
}

.form{

width:50%;
height:55%;
background-color:white;
margin-left:10%;
margin-top: 10%;

}
.form1{

    padding-left:3%;
    padding-top:5%;

}

p{
    text-align: right;
    margin-right: 10%;
    
}

#name{
    padding: 10px;
    width: 30%;
    
    
}

#phone{
    padding: 10px;
    width: 30%;
    margin-left: 100x;
    margin-top: 30px;
}

  

#email{

    padding: 10px;
    width: 30%;
    
}

#message{
    margin-right:1000px;
    margin-top:170px;
    margin-left:130px;
    padding: 100px;
    width: 60%;
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
    margin-left:76%;
    
  }
  h2{
      margin-top:200px;
  }

 
     
 
 

