.first {
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    ;
}

body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

div {
    height: 100vh;
}

.secound {
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}